{% extends "basic.html" %}

{% block content %}
<h1>{% if parent %}Reply{% else %}Add comment{% endif %}</h1>

<form method="post">
  {% csrf_token %}
  {% if parent %}
    <input type="hidden" name="parent_id" value="{{ parent.id }}">
    <div class="reply-context">
      <p class="comment-alias">Replying to {{ parent.alias }}</p>
      <p class="comment-content">{{ parent.content|truncatechars:120 }}</p>
    </div>
  {% endif %}
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <ul class="messages">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
  <input type="submit" value="Send" />
  <a href="{% url 'posts:post-detail' post_slug=post.slug %}" class="cancel">Cancel</a>
</form>
{% endblock %}
